body
{
    font-family: "Open Sans", sans-serif;
    background-image: url('../img/log_background.jpg');
    background-size: 100%;
    background-repeat: no-repeat
}

#div1
{
    text-align: left;
    color: white;
    background-color: rgb(24, 13, 91);
    width: 25%;
    height: 490px;
    display: inline-block;
    padding: 50px 100px;
    margin-top: 80px;
    margin-left: 125px
}

#div2
{
    text-align: left;
    background-color: rgb(231, 231, 231);
    width: 25%;
    height: 490px;
    float: right;
    padding: 50px 100px;
    margin-top: 80px;
    margin-right: 125px
}

input
{
    width: 92%;
    border: 1px solid;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0px
}

input[type="submit"]
{
    font-size: 18px;
    color: white;
    background-color: rgb(24, 13, 91);
    width: 98%;
    border: 1px solid;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0px
}

input[type="submit"]:hover
{
    background-color: rgb(51, 33, 163);
    cursor: pointer
}

input[type="submit"]:disabled
{
    color: #666666;
    background-color: #cccccc;
    border: 1px solid #999999;
    cursor: auto
}

input[type="submit"]:focus
{
    color: white;
    background-color: rgb(13, 208, 45);
    cursor: auto
}

img
{
    width: 30%;
    margin-left: 120px
}

img:hover
{
    opacity: 0.7
}

a
{
    color: black;
    text-decoration: none
}

a:hover
{
    color: rgb(24, 13, 91)
}

#alink
{
    margin-left: 115px
}

#div2 button
{
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    color: white;
    background-color: rgb(23, 12, 88);
    border: 1px solid rgb(66, 231, 224);
    border-radius: 5px;
    padding: 10px 40px
}